<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title  th:text="${person.getFio()}"></title>
</head>
<body>
    <p th:text="${person.getFio() + ', ' + person.getYear()}">Value</p>

    <div th:if="${#lists.isEmpty(books)}">
        <div>The person hasn't picked up any books yet</div>
    </div>
    <div th:unless="${#lists.isEmpty(books)}">
        <hr>
        Books:
        <br>
        <div th:each="book : ${books}">
            <div th:if="${book.isExpired() == true}">
                <div style="color: red" th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></div>
            </div>
            <div th:unless="${book.isExpired() == true}">
                <div th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></div>
            </div>
        </div>
    </div>

    <hr>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
    <p>
        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </p>
</body>
</html>